<h1>How to play?</h1>
<ul>
  <li>Get a copy of <%= link_to "the Decorum board game", "https://floodgate.games/products/decorum?utm_source=boardgamegeek&utm_medium=link&utm_campaign=decorum" %> by <%= link_to "Floodgate Games", "https://floodgate.games/" %>.  This is required to play!</li>
  <li>Gather a group of friends, and either pick an existing scenario, or generate a new one.</li>
  <li>Tell the other players the scenario number, and have everyone start the game.</li>
  <li>Set up the house based on the Starting Layout for your scenario.</li>
  <li>Pick who is which player (player 1, player 2, etc).  Click on "Show Requirements" to see the list of requirements, automatically hidden.  Click on the individual "Show Requirement" button to see each one.</li>
  <li>When it comes time to have a heart-to-heart and share requirements with each other, tell the the player you are sharing with which requirment you are sharing with them.  Ex: "Shawnah, I'm showing you my second requirement.  Look at Player 1's requirement # 2.</li>
</ul>
</div>
