<table>
  <tr>
    <td><%= render(partial: "rooms/room", locals: { room: house.get_room("bathroom") }) %></td>
    <td><%= render(partial: "rooms/room", locals: { room: house.get_room("bedroom") }) %></td>
  </tr>
  <tr>
    <td><%= render(partial: "rooms/room", locals: { room: house.get_room("living_room") }) %></td>
    <td><%= render(partial: "rooms/room", locals: { room: house.get_room("kitchen") }) %></td>
  </tr>
</table>
