<tr>
  <td class="scenario_list_row"><%= scenario.id %></td>
  <td class="scenario_list_row"><%= scenario.player_count%></td>
  <td class="scenario_list_row"><%= scenario.requirement_count%></td>
  <td class="scenario_list_row"><%= link_to "Start game", scenario_path(scenario), class:"button-small" %></td>
</tr>
