  <br>
  <br>
  <h2>List of existing scenarios</h2>
  <table>
    <tr>
      <th>Scenario Number</th>
      <th>Player Count</th>
      <th>Requirements Per Player</th>
      <th></th>
    </tr>
    <% @scenarios.each do |scenario| %>
      <%= render(partial: "scenarios/list", locals: { scenario: scenario }) %>
    <% end %>
  </table>
