<h1>Create a new scenario</h1>

<%= button_to "Create a 2 player scenario", scenarios_path, method: :post, params: { player_count: "2" } %>
<%= button_to "Create a 3 player scenario", scenarios_path, method: :post, params: { player_count: "3" } %>
<%= button_to "Create a 4 player scenario", scenarios_path, method: :post, params: { player_count: "4" } %>
