body, html {
margin-left:1%;
margin-right:1%;
margin-bottom:1%;
margin-top:1%;
}

.decorum-background {
  background-image: url("/decorum_image.png");
  background-size: cover;
  margin-left:0%;
  margin-right:0%;
  margin-bottom:0%;
  margin-top:0%;
}

.index-page {
margin-left:1%;
margin-right:1%;
margin-bottom:1%;
margin-top:1%;
}


.inline {
  display: inline;
}

.button-small {
  background-color: #000000;
  color: #fff;
  padding: .7em;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  margin:1em;
  width: 2em;
  height: 1em;
  text-wrap: nowrap;
}

.button-90 {
  color: #fff;
  padding: 15px 25px;
  border-radius: 100px;
  background-color: #4C43CD;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

/* CSS */
.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
//background: linear-gradient(0deg, rgba(19, 127, 196,1) 0%, rgba(28, 127, 154,1) 100%);

.button-88:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.button-88:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

tbody tr {
  height: 50px;
}

/* zebra striping */

tr:nth-child(odd) .scenario_list_row{
  background-color: #e0ffad;
}

tr:nth-child(even) .scenario_list_row{
  background-color: #b3e0fc;
}

/* mobile style overrides */
@media all and (max-width: 540px) {
  .inline {
    display: block;
  }
}

