<header>
<div class="decorum-background">
  <div class="index-page">
  <h1>The Autonomous Decorum-Bot</h1>
  </div>
</div>
  <br>
  <div class="navbar">
    <nav>
        <%= link_to "List of scenarios", scenarios_path, class: "button-90 inline"%>
        <%= link_to "New scenario", new_scenario_path, class: "button-90 inline" %>
        <%= link_to "How to play?", static_pages_help_path, class: "button-90 inline" %>
    </nav>
  </div>
</header>
